anthropic
streamlit
python-dotenv
pydantic
pandas
numpy
pymupdf
pillow
rank-bm25
scikit-learn
faiss-cpu
tabulate
camelot-py
opencv-python
pdfplumber
sentence-transformers
faiss-cpu
torch==2.2.0
torchvision==0.17.0
